.dash-layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.dash-header {
  padding: 0 !important;
  min-height: 60px;
}

.dash-content {
  flex-grow: 1;
  overflow: auto;
  margin: 24px 16px 0;
}

.dash-container {
  padding: 15px;
  margin-top: 10px;
  min-height: 360px;
}

.dash-footer {
  text-align: center;
}
