.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo {
  height: 32px;
  margin: 16px;
  text-align: center;
  color: #ffffff;
  line-height: 32px;
  font-size: 20px;
}

.header {
  padding: 0;
  min-height: 60px;
}

.content {
  flex-grow: 1;
  overflow: auto;
  margin: 24px 16px 0;
}

.container {
  padding: 15px;
  margin-top: 10px;
  min-height: 360px;
}

.footer {
  text-align: center;
}
